* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

/* image section start */
.image-recentP-container {
    position: relative;
    width: 100%;
    height: auto;
}

.image-recentP-container img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.583);
}

.projects-text-container {
    position: absolute;
    top: 40%;
    left: 30%;
}