@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding-left: 32%;

}

.screen {
	background: #ff007b;
	position: relative;
	height: 600px;
	width: 360px;
	box-shadow: 0px 0px 24px #5C5696;

}


.span {
	text-align: center;
	color: white;

}

.screen__content {
	z-index: 1;
	position: relative;
	height: 100%;
	padding: 0 auto;
}



.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;
	position: relative;
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #fff;
}

.login__input {
	border: none;
	border-bottom: 2px solid #fff;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__input::placeholder {
	color: white
}

.login__input {
	color: white;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #ff007b;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #ff007b;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #ff007b;
}

.error {
	color: #fff;
}