.video-candidat {
    grid-column: 12;
    grid-row: 1/8;
    cursor: pointer;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.left-arrow {
    width: 3vw;
    position: relative;
    margin: 0 auto;
    right: 15%;
    grid-column: 12;
    grid-row: 6;
    align-self: center;
    font-size: 50px;
    opacity: 50%;
    color: #FF007B;
    place-self: end center;
}

.right-arrow {
    width: 3vw;
    margin: 0 auto;
    position: relative;
    left: 15%;
    grid-column: 12;
    grid-row: 6;
    align-self: center;
    font-size: 50px;
    color: #FF007B;
    opacity: 50%;
    place-self: end center;
}

.circles-container {
    position: relative;
    grid-column: 12;
    grid-row: 6;
    align-self: center;
    place-self: end center;
    margin-bottom: 10px;
    margin-right: 10px;
}

.circles-container>.circle {
    height: 1.1vw;
    width: 1.1vw;
    background-color: #FF007B;
    opacity: 25%;
    border-radius: 50%;
    display: inline-block;
    transition: all .7s ease-in-out;
    margin-left: 10px;
}

.circles-container>.circle.active {
    height: 1.1vw;
    width: 1.1vw;
    background-color: #FF007B;
    opacity: 100%;
    border-radius: 50%;
    display: inline-block;
    padding-left: 5px;
    transform: scale(1.1);
}



.playbutton {
    position: absolute;
    grid-column: 12;
    z-index: 1;
    place-self: center;
    color: rgb(255, 255, 255);
    top: 85%;
    left: 85%;
    font-size: 2vw;
    cursor: pointer;
}

.pinkie {
    color: #FF007B;
}

.vc-title {
    color: grey;
    font-weight: 600;
    grid-column: 1/4;
    grid-row: 1;
    margin-top: 15px;
    place-self: center start;
    font-size: 1.8vw;

}

.experience {
    grid-column: 1/9;
    font-weight: 600;
    font-size: 3.2vw;
    grid-row: 2;

}

.resume-candidat {
    color: #605F5F;
    grid-row: 3;
    grid-column: 1/10;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 1.1vw;
    align-self: center;
    margin: 2% 0;
}

.hr-line3 {
    margin-top: 10px;
    border-top: rgba(215, 215, 220, 1) 2px solid;
    grid-column: 1/10;
    grid-row: 4;
}

.fullname {
    grid-row: 4;
    grid-column: 1/5;
    align-self: center;
    font-size: 20px;
    color: #605F5F;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.job {
    grid-row: 4;
    grid-column: 1/5;
    place-self: end start;
    font-size: 15px;
    color: #605F5F;
    font-weight: thin;
    letter-spacing: 0.8px;
    margin-left: 2%;
    margin-bottom: 5px;
}

.company-logo {
    width: 70px;
    grid-row: 5;
    grid-column: 1/5;
    margin-left: 2%;
    align-self: center;
}

.vc-container {
    grid-row: 6;
    place-self: center;
}

.border-btn-5 {
    width: 150px;
    height: 30px;
    padding: 18px 10px;
    background: #FF007B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 0.25px #FF007B solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}


.text-btn-5 {
    color: white;
    font-size: 17px;
    font-family: Space Grotesk;
    font-weight: 500;
    letter-spacing: 0.22px;
    word-wrap: break-word;
}

/*animation*/
.hidden4 {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}


.show4 {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden5 {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}


.show5 {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (max-width:1760px) {
    .left-arrow {
        width: 3vw;
        position: relative;
        margin: 0 auto;
        right: 15%;
        grid-column: 12;
        grid-row: 6;
        align-self: center;
        font-size: 50px;
        opacity: 50%;
        color: #FF007B;
        place-self: start center;
    }

    .right-arrow {
        width: 3vw;
        margin: 0 auto;
        position: relative;
        left: 15%;
        grid-column: 12;
        grid-row: 6;
        align-self: center;
        font-size: 50px;
        color: #FF007B;
        opacity: 50%;
        place-self: start center;
    }

    .circles-container {
        position: relative;
        grid-column: 12;
        grid-row: 6;
        align-self: center;
        place-self: start center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

@media (max-width:1530px) {
    .video-candidat {
        grid-column: 10;
        grid-row: 1/8;
        cursor: pointer;
    }

    .left-arrow {
        width: 3vw;
        position: relative;
        margin: 0 auto;
        right: 15%;
        grid-column: 10;
        grid-row: 5;
        align-self: center;
        font-size: 50px;
        opacity: 50%;
        color: #FF007B;
        place-self: end center;
    }

    .right-arrow {
        width: 3vw;
        margin: 0 auto;
        position: relative;
        left: 15%;
        grid-column: 10;
        grid-row: 5;
        align-self: center;
        font-size: 50px;
        color: #FF007B;
        opacity: 50%;
        place-self: end center;
    }

    .circles-container {
        position: relative;
        grid-column: 10;
        grid-row: 5;
        align-self: center;
        place-self: end center;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

@media (max-width:1373px) {
    .landing-video {
        width: 33vw;
        border-radius: 20px;
    }

    .video-candidat {
        grid-column: 8;
        grid-row: 1/8;
        cursor: pointer;
        margin-top: 70px;
    }

    .left-arrow {
        width: 3vw;
        position: relative;
        margin: 0 auto;
        right: 15%;
        grid-column: 8;
        grid-row: 6;
        align-self: center;
        font-size: 50px;
        opacity: 50%;
        color: #FF007B;
        place-self: center;
    }

    .right-arrow {
        width: 3vw;
        margin: 0 auto;
        position: relative;
        left: 15%;
        grid-column: 8;
        grid-row: 6;
        align-self: center;
        font-size: 50px;
        color: #FF007B;
        opacity: 50%;
        place-self: center;
    }

    .circles-container {
        position: relative;
        grid-column: 8;
        grid-row: 6;
        align-self: center;
        place-self: center;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .resume-candidat {
        color: #605F5F;
        grid-row: 3;
        grid-column: 1/8;
        text-align: left;
        font-weight: bold;
        letter-spacing: 0.8px;
        font-size: 1.2vw;
        place-self: start;
        margin: 2% 0;
    }

    .vc-title {
        color: grey;
        font-weight: 600;
        grid-column: 1/4;
        grid-row: 1;
        margin-top: 15px;
        place-self: end start;
        font-size: 1.8vw;

    }

    .experience {
        grid-column: 1/7;
        font-weight: 600;
        font-size: 3.2vw;
        grid-row: 2;
        place-self: center start;

    }

    .hr-line3 {
        margin-top: 10px;
        border-top: rgba(215, 215, 220, 1) 2px solid;
        grid-column: 1/8;
        grid-row: 4;
    }
}

@media (max-width:1200px) {
    .vc-container {
        grid-row: 6;
        place-self: center;
    }

    .vc-title {
        color: grey;
        font-weight: 600;
        grid-column: 1/4;
        grid-row: 1;
        margin-top: 15px;
        place-self: end start;
        font-size: 2vw;

    }

    .video-candidat {
        grid-column: 7;
        grid-row: 1/8;
        cursor: pointer;
        margin-top: 70px;
    }

    .resume-candidat {
        color: #605F5F;
        grid-row: 3;
        grid-column: 1/7;
        text-align: left;
        font-weight: bold;
        letter-spacing: 0.8px;
        font-size: 1.4vw;
        place-self: start;
        margin: 2% 0;
    }

    .hr-line3 {
        margin-top: 10px;
        border-top: rgba(215, 215, 220, 1) 2px solid;
        grid-column: 1/7;
        grid-row: 4;
    }

    .fullname {
        grid-row: 4;
        grid-column: 1/5;
        align-self: center;
        font-size: 18px;
        color: #605F5F;
        font-weight: bold;
        letter-spacing: 0.8px;
    }

    .job {
        grid-row: 4;
        grid-column: 1/5;
        place-self: end start;
        font-size: 15px;
        color: #605F5F;
        font-weight: thin;
        letter-spacing: 0.8px;
        margin-left: 2%;
        margin-bottom: 5px;
    }

    .company-logo {
        width: 55px;
        grid-row: 5;
        grid-column: 1/5;
        margin-left: 2%;
        place-self: center start;
        align-self: center;
    }

    .left-arrow {
        width: 4vw;
        position: relative;
        margin: 0 auto;
        right: 20%;
        grid-column: 7;
        grid-row: 6;
        align-self: center;
        font-size: 50px;
        opacity: 50%;
        color: #FF007B;
        place-self: start center;
    }

    .right-arrow {
        width: 4vw;
        margin: 0 auto;
        position: relative;
        left: 20%;
        grid-column: 7;
        grid-row: 6;
        align-self: center;
        font-size: 50px;
        color: #FF007B;
        opacity: 50%;
        place-self: start center;
    }

    .circles-container {
        position: relative;
        grid-column: 7;
        grid-row: 6;
        align-self: center;
        place-self: start center;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-top: 15px;
    }

    .circles-container>.circle {
        height: 1.4vw;
        width: 1.4vw;
        background-color: #FF007B;
        opacity: 25%;
        border-radius: 50%;
        display: inline-block;
        transition: all .7s ease-in-out;
        margin-left: 10px;
    }

    .circles-container>.circle.active {
        height: 1.4vw;
        width: 1.4vw;
        background-color: #FF007B;
        opacity: 100%;
        border-radius: 50%;
        display: inline-block;
        padding-left: 5px;
        transform: scale(1.1);
    }


}

@media (max-width:992px) {
    .video-and-about-container {
        display: grid;
        /* don't change this*/
        grid-template-columns: repeat(12, 1fr);
        /* don't change this*/
        grid-auto-rows: minmax(100px, auto);
        /* don't change this*/
        grid-column-gap: 80px;
        padding: 30px 30px;
        overflow: hidden;
    }

    .landing-video {
        width: 300px;
        border-radius: 20px;
    }

    .video-candidat {
        grid-column: 3/6;
        grid-row: 2/9;
        cursor: pointer;
        margin-top: 120px;
    }

    .vc-title {
        color: grey;
        font-weight: 600;
        grid-column: 2/10;
        grid-row: 2;
        margin-top: 15px;
        place-self: start center;
        margin-right: 10px;
        font-size: 25px;
    }

    .experience {
        grid-column: 2/10;
        font-weight: 600;
        font-size: 35px;
        grid-row: 2;
        place-self: end center;
    }

    .resume-candidat {
        color: #605F5F;
        grid-row: 7;
        grid-column: 2/9;
        text-align: left;
        font-weight: bold;
        letter-spacing: 0.8px;
        font-size: 15px;
        place-self: start;
        margin: 2% 0;
    }

    .hr-line3 {
        margin-top: 10px;
        border-top: rgba(215, 215, 220, 1) 2px solid;
        grid-column: 2/9;
        grid-row: 8;
    }

    .fullname {
        grid-row: 8;
        grid-column: 2/5;
        align-self: center;
        font-size: 18px;
        color: #605F5F;
        font-weight: bold;
        letter-spacing: 0.8px;
    }

    .job {
        grid-row: 8;
        grid-column: 2/6;
        place-self: end start;
        font-size: 15px;
        color: #605F5F;
        font-weight: thin;
        letter-spacing: 0.8px;
        margin-left: 2%;
        margin-bottom: 5px;
    }

    .company-logo {
        width: 55px;
        grid-row: 9;
        grid-column: 2/5;
        margin-left: 2%;
        align-self: center;
    }

    .left-arrow {
        width: 40px;
        position: relative;
        margin: 0 auto;
        right: 20%;
        grid-column: 4;
        grid-row: 6;
        align-self: center;
        font-size: 50px;
        opacity: 50%;
        color: #FF007B;
        place-self: end center;
    }

    .right-arrow {
        width: 40px;
        margin: 0 auto;
        position: relative;
        left: 20%;
        grid-column: 5;
        grid-row: 6;
        align-self: center;
        font-size: 50px;
        color: #FF007B;
        opacity: 50%;
        place-self: end center;
    }

    .circles-container {
        position: relative;
        grid-column: 4/6;
        grid-row: 6;
        align-self: center;
        place-self: end center;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-top: 15px;
    }

    .circles-container>.circle {
        height: 15px;
        width: 15px;
        background-color: #FF007B;
        opacity: 25%;
        border-radius: 50%;
        display: inline-block;
        transition: all .7s ease-in-out;
        margin-left: 10px;
    }

    .circles-container>.circle.active {
        height: 15px;
        width: 15px;
        background-color: #FF007B;
        opacity: 100%;
        border-radius: 50%;
        display: inline-block;
        padding-left: 5px;
        transform: scale(1.1);
    }

    .vc-container {
        grid-row: 10;
        align-self: center;
        grid-column: 2;

    }

    .playbutton {
        position: absolute;
        grid-column: 12;
        z-index: 1;
        place-self: center;
        color: rgb(255, 255, 255);
        top: 85%;
        left: 110%;
        font-size: 3vw;
        cursor: pointer;
    }

}

@media (max-width:830px) {
    .video-candidat {
        grid-column: 2/5;
        grid-row: 2/9;
        cursor: pointer;
        margin-top: 120px;
        margin-left: 120px;

    }

    .vc-title {
        color: grey;
        font-weight: 600;
        grid-column: 2/8;
        grid-row: 2;
        margin-top: 15px;
        place-self: start center;
        font-size: 25px;
    }

    .experience {
        grid-column: 1/8;
        font-weight: 600;
        font-size: 35px;
        grid-row: 2;
        place-self: end center;
    }

    .resume-candidat {
        color: #605F5F;
        grid-row: 7;
        grid-column: 2/7;
        text-align: left;
        font-weight: bold;
        letter-spacing: 0.8px;
        font-size: 16px;
        margin: 2% 0;
    }

    .hr-line3 {
        margin-top: 10px;
        border-top: rgba(215, 215, 220, 1) 2px solid;
        grid-column: 2/7;
        grid-row: 8;
    }

    .left-arrow {
        width: 40px;
        position: relative;
        margin: 0 auto;
        right: 20%;
        grid-column: 2/9;
        grid-row: 6;
        align-self: center;
        font-size: 50px;
        opacity: 50%;
        color: #FF007B;
        place-self: center;
    }

    .right-arrow {
        width: 40px;
        margin: 0 auto;
        position: relative;
        left: 20%;
        grid-column: 1/8;
        grid-row: 6;
        align-self: center;
        font-size: 50px;
        color: #FF007B;
        opacity: 50%;
        place-self: center;
    }

    .circles-container {
        position: relative;
        grid-column: 2/8;
        grid-row: 6;
        align-self: center;
        place-self: center;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-top: 15px;
    }

    .circles-container>.circle {
        height: 15px;
        width: 15px;
        background-color: #FF007B;
        opacity: 25%;
        border-radius: 50%;
        display: inline-block;
        transition: all .7s ease-in-out;
        margin-left: 10px;
    }

    .circles-container>.circle.active {
        height: 15px;
        width: 15px;
        background-color: #FF007B;
        opacity: 100%;
        border-radius: 50%;
        display: inline-block;
        padding-left: 5px;
        transform: scale(1.1);
    }



    .playbutton {
        position: absolute;
        grid-column: 12;
        z-index: 1;
        place-self: center;
        color: rgb(255, 255, 255);
        top: 85%;
        left: 128%;
        font-size: 25px;
        cursor: pointer;
    }
}

@media (max-width:650px) {
    .video-candidat {
        grid-column: 1;
        grid-row: 3;
        cursor: pointer;
        margin-top: 20px;
        margin-left: 0;
        place-self: center;
    }

    .vc-title {
        color: grey;
        font-weight: 600;
        grid-column: 1;
        grid-row: 1;
        margin-top: 15px;
        place-self: end start;
        font-size: 25px;
    }

    .experience {
        grid-column: 1/2;
        font-weight: 600;
        font-size: 35px;
        grid-row: 2;
        place-self: center;

    }

    .resume-candidat {
        color: #605F5F;
        grid-row: 5;
        grid-column: 1;
        text-align: left;
        font-weight: bold;
        letter-spacing: 0.8px;
        font-size: 16px;
        margin: 2% 0;
    }

    .hr-line3 {
        margin-top: 10px;
        border-top: rgba(215, 215, 220, 1) 2px solid;
        grid-column: 1;
        grid-row: 6;
    }

    .left-arrow {
        width: 40px;
        position: relative;
        margin: 0 auto;
        right: 25%;
        grid-column: 1;
        grid-row: 4;
        align-self: center;
        font-size: 50px;
        opacity: 50%;
        color: #FF007B;
        place-self: center;
    }

    .right-arrow {
        width: 40px;
        margin: 0 auto;
        position: relative;
        left: 25%;
        grid-column: 1;
        grid-row: 4;
        align-self: center;
        font-size: 50px;
        color: #FF007B;
        opacity: 50%;
        place-self: center;
    }

    .circles-container {
        position: relative;
        grid-column: 1;
        grid-row: 4;
        align-self: center;
        place-self: center;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-top: 15px;
    }

    .circles-container>.circle {
        height: 15px;
        width: 15px;
        background-color: #FF007B;
        opacity: 25%;
        border-radius: 50%;
        display: inline-block;
        transition: all .7s ease-in-out;
        margin-left: 10px;
    }

    .circles-container>.circle.active {
        height: 15px;
        width: 15px;
        background-color: #FF007B;
        opacity: 100%;
        border-radius: 50%;
        display: inline-block;
        padding-left: 5px;
        transform: scale(1.1);
    }



    .playbutton {
        position: absolute;
        grid-column: 1;
        z-index: 1;
        color: rgb(255, 255, 255);
        top: 85%;
        left: 85%;
        font-size: 25px;
        cursor: pointer;
    }

    .fullname {
        grid-row: 6;
        grid-column: 1;
        align-self: center;
        font-size: 18px;
        color: #605F5F;
        font-weight: bold;
        letter-spacing: 0.8px;
    }

    .job {
        grid-row: 6;
        grid-column: 1;
        place-self: end start;
        font-size: 15px;
        color: #605F5F;
        font-weight: thin;
        letter-spacing: 0.8px;
        margin-left: 2%;
        margin-bottom: 5px;
    }

    .company-logo {
        width: 55px;
        grid-row: 7;
        grid-column: 1;
        margin-left: 2%;
        align-self: center;
    }

    .vc-container {
        grid-column: 1;
        grid-row: 8;
        margin-left: 0;
        place-self: normal;
    }
}