* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
}

footer {

    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: black;
}

.container-footer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sec>h3 {
    color: #78797C;
    padding: 10px 0px;
}

.footer-link {
    padding: 10px 0;
}

.footer-links {
    list-style: none;
}

.footer-link>a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.logo-footer-container {

    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.logo-footer {
    grid-row-start: 4;
    grid-column-start: 2;
    place-self: center;
}

#hr-line {
    width: 60%;
    border: 1px solid #78797C;
    ;
}

.copy-right-text {
    padding-top: 5%;
    color: #78797C;
    grid-column-start: -4;
    grid-column-end: -2;
}

.footer-link>a:hover {
    color: #FF007B;
    transition: all .3s ease-in-out;
}

.footer-link.aws>a:hover {
    color: #F89E2D;
}

.footer-links.social {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-template-columns: repeat(4, 50px);
    list-style: none;
    background-color: rgb(0, 0, 0);
    width: fit-content;
}

.sci {
    width: 30px;
    height: 30px;

}

.followus {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.follow-us-second-container {
    color: #78797C;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-column-end: 4;
}

/* footer botton*/

.text-btn2 {
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-family: Space Grotesk;
    letter-spacing: 1px;
    font-weight: 600;
    letter-spacing: 0.32;
    word-wrap: break-word;
    cursor: pointer;
}

.border-btn2 {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px rgb(255, 255, 255) solid;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    cursor: pointer;
}

@media (max-width:911px) {
    .nosProgrammes {
        grid-column: 1/3;
    }

    .autres {
        grid-column: 3/5;
        grid-row: 2;
    }

    .follow-us-second-container {
        color: #78797C;
        grid-column: 4;
        grid-row: 1;
    }

    .copy-right-text {
        padding-top: 5%;
        color: #78797C;
        grid-column: 1/5;
        grid-row: 4;
        align-self: end;
    }


}

@media (max-width:768px) {
    footer .nosProgrammes {
        grid-column: 1/4;
        grid-row-start: 2;
    }

    .autres {
        grid-column: 3/5;
        grid-row: 2;
    }

    .container {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .followus {
        grid-column-start: 1;
    }

    .copy-right-text {
        position: absolute;
        top: 90%;
    }

    .follow-us-second-container {
        color: #78797C;
        grid-row-start: 2;
    }

    .logo-footer {
        grid-row: 2;
        margin-right: 70px;
    }

    .followus {
        grid-row: 3/5;
    }
}

@media (max-width:598px) {
    footer .nosProgrammes {
        grid-column: 1/4;
        grid-row-start: 2;
    }


    footer {
        width: 100%;
        padding: 50px 30px;
    }

    .followus {
        grid-column-start: 1;
    }

    .copy-right-text {
        position: absolute;
        top: 90%;

        grid-column: 1/5;
    }

    .follow-us-second-container {
        color: #78797C;
        grid-row-start: 2;
    }

    .logo-footer {
        grid-row: 2;
        margin-right: 70px;
    }

    .followus {
        grid-row: 3;
        margin-bottom: 60px;
    }

    .footer-link>a {
        color: white;
        font-size: 14px;
        text-decoration: none;
    }

}

@media screen and (max-width:374px) {
    .autres {
        grid-column: 1;
        grid-row: 3;
    }

    .logo-footer {
        grid-row: 2;
        margin-right: 70px;
        align-self: end;
    }

    .followus {
        grid-row: 5;
        margin-bottom: 60px;
    }

    .footer-link>a {
        color: white;
        font-size: 14px;
        text-decoration: none;
    }

    .logo-footer-container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }
}

@media (max-width:320px) {

    .autres {
        grid-column: 1;
        grid-row: 3;
    }

    .logo-footer {
        grid-row: 2;
        margin-right: 70px;
        align-self: end;
    }

    .followus {
        grid-row: 5;
        margin-bottom: 60px;
    }

    .footer-link>a {
        color: white;
        font-size: 14px;
        text-decoration: none;
    }

    .logo-footer-container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }
}