.eight {
  padding-bottom: 5%;
}

.form__group {
  position: relative;
  margin-bottom: 1%;
}

.margin {
  width: 62%;
  margin-top: 2%;
  height: 25px;
  margin-left: 20%;
  border: 1px solid silver !important;
  border-radius: 5px;
  box-sizing: border-box;
  color: #313a46;
  height: 40px;
  padding: 0rem 15px;
}

.form__field {
  .margin {
    width: 62%;
    margin-top: 2%;
    height: 25px;
    margin-left: 20%;
    border: 1px solid silver !important;
    border-radius: 5px;
    box-sizing: border-box;
    color: #313a46;
    height: 40px;
    padding: 0rem 15px;
  }
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  top: 10px;
  border-right: none;
  border-left: none;
}

.form__label {
  background-color: white;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  color: #9b9b9b;
  display: block;
  font-size: .9em;
  margin-left: 10px;
  padding: 0 10px;
  pointer-events: none;
  position: absolute;
  top: -10px;
  transition: 0.2s;
}

.form__field:focus {
  border: 1px solid #B9192C !important;
  outline: none;
}

.form__field:focus~.form__label {
  background-color: white;
  border-right: 1px solid #B9192C;
  border-left: 1px solid #B9192C;
  color: #B9192C;
  font-size: .9em;
  margin-left: 10px;
  padding: 0 10px;
  position: absolute;
  top: -10px;
  transition: 0.2s;
}

.eight h1 {
  text-align: center;

  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 1px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.eight h1:after,
.eight h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
  background-color: #f8f8f8;
}

.add-staff {
  width: 20vw;
  margin-left: 2%;
  display: flex;
  margin-bottom: 3%;
}
.add-staff:hover {
  cursor: pointer;
}
.add-staff-text{
  display: flex;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 2%;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  font-size: 1.5vw;
  font-weight: 700;
}

/* Note that you only needs to edit the *
config to customize the button! */

.plusButton {
  /* Config start */
  --plus_sideLength: 2.5rem;
  --plus_topRightTriangleSideLength: 0.9rem;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: #000000;
  overflow: hidden;
}

.plusButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent #FF007B transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover {
  cursor: pointer;
}

.plusButton:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton>.plusIcon {
  fill: white;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
  fill: white;
  transform: rotate(180deg);
}

.plusButton:focus-visible>.plusIcon {
  fill: black;
  transform: rotate(180deg);
}


.main-cohorts-container {
  padding: 3%;
  position: absolute;
  width: 80%;
  left: 20%;
  background-color: #F3EEEE;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.teacher-table h1 {
  font-size: 3vw;
  padding: 2%;
}

.students-table h1 {
  font-size: 3vw;
  padding: 2%;
}

.data-grid {
  background-color: white;
}

.card {
  width: 190px;
  height: 254px;
  background: whitesmoke;
  border-radius: 15px;
  margin: 3%;
  /* box-shadow: 0px 1px 90px 0px #FF007B; */
}

.back {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.img p {
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 40%;
  text-align: center;
}


.edit-photo {
  background-color: white;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  /* Adjust this value to move the positioned div up and down */
  text-align: center;
  /* width: 60%; */
  /* Set the width of the positioned div */
}

.card .card-border-top {
  width: 60%;
  height: 3%;
  background: #FF007B;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card span {
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.card .job {
  font-weight: 400;
  color: rgb(0, 0, 0);
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.card .img {
  position: relative;
  width: 70px;
  height: 80px;
  background: #ffffff;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
}

.card button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #FF007B;
  color: white;
  font-weight: 600;
}

.card button:hover {
  background: #FF007B;
}

.input {
  color: black !important;
  margin-top: 2%;
  margin-left: 20%;
  /* margin: 1%; */
  width: 100%;
  max-width: 120px;
  height: 25px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}





.add-box {
  width: 70%;
  height: 6vh;
  background: lightgrey;
  border: 3px inset white;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: all .5s ease-in-out;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: #8a8989;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.add-box:hover {
  transform: translateY(-5px);
  transition: all .5s ease-in-out;
}