* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}


.cs-container {
    padding: 40px 0;
}

.cards-section-inner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
    object-fit: cover;
}

.title-cards-section {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

.one-video {
    position: relative;
    border-radius: 20px;
    padding: 10px 0;

}

.one-video video {
    width: 400px !important;
    height: 25.4vh;
}

.video-info {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-left: 15px;
}

.more-details {
    display: flex;
    position: relative;
    top: -21%;
    left: 5%;
    color: white;
    pointer-events: none;
    opacity: 0;
    transition: .5s ease-in-out;
    gap: 5px;
}

.one-video:hover .more-details {
    opacity: 1;
}

.project-name {
    font-weight: bold;
    place-self: center;
    text-transform: uppercase;
}

.project-timeAgo {
    margin-left: 50%;
    place-self: center;
}

.project-img {
    width: 9%;
    border: 1px black solid;
    border-radius: 30px;
}

.desc-demo {
    position: relative;
    margin-left: 3%;
    bottom: 5%;
    width: 50%;
    word-break: break-all;
}

.like-button {
    position: relative;
    left: 80%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: 1px solid #CCC;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: .5s ease-in-out;
}



.heart {
    position: relative;
    left: 30%;
    top: 30%;
    color: rgba(255, 0, 0, 0.500);
    cursor: pointer;
}

.like-rp-container {
    width: 200px;
    position: relative;
    top: -8%;
    left: 80%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width:440px) {
    .one-video video {
        width: 300px !important;
        height: 23.4vh;
    }

    .project-name {
        font-weight: bold;
        place-self: center;
        text-transform: uppercase;
        font-size: 15px;
    }

    .project-timeAgo {
        margin-left: 20%;
        place-self: center;
    }

    .project-img {
        width: 9%;
        border: 1px black solid;
        border-radius: 30px;
    }

    .desc-demo {
        position: relative;
        margin-left: 3%;
        bottom: 5%;
        width: 50%;
        word-break: break-all;
    }

    .like-button {
        position: relative;
        top: -16%;
        left: 70%;
        width: 45px;
        height: 45px;
        cursor: pointer;
        border: 1px solid #CCC;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        transition: .5s ease-in-out;
    }

}

@media screen and (max-width:378px) {
    .cards-section-inner-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
        gap: 20px;
        object-fit: cover;
    }

    .one-video video {
        width: 280px !important;
        height: 20.4vh;
    }
}