@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
}

/* on scroll start */
.header-nav.header-bg {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.239);
    padding: 10px 100px;
}

.sub-menu-arrow-black:after {
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid rgb(0, 0, 0);
    margin-left: 2px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
    transition: .4s ease-in-out;
}

.sub-menu-arrow-black.active:after {
    content: '';
    border: 4px solid transparent;
    border-bottom: 4px solid rgb(0, 0, 0);
    margin-left: 2px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: center;
}

/* on scroll end */


.header-nav {
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4;
    padding: 30px 100px;
    transition: .6s ease-in-out;
}

.header-nav .logo-nav {
    position: relative;
    transition: 0.4s;
}

.nav-links {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    position: relative;
    list-style: none;
}

.nav-link a {
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.4s ease-in-out;
    font-size: 19px;
}

.nav-link a:hover {
    color: #FF007B;
    transition: 0.4s ease-in-out 0s;
}

.sub-menu-arrow-white:after {
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 2px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: bottom;
    transition: .4s ease-in-out;
}

.sub-menu-arrow-white.active:after {
    content: '';
    border: 4px solid transparent;
    border-bottom: 4px solid white;
    margin-left: 2px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: center;
}