@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap%27');

.background-image {
  position: relative;
  width: 100%;
  height: auto;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  color: whitesmoke;
  font-size: 3vw;
  font-weight: bold;
  font-family: 'Space Grotesk', sans-serif;
}

.card-image-postuler-grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

.card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: none;
  background: linear-gradient(-45deg, #d20039, #b34fe0, #ff007b, #0000ff);
  background-size: 400% 400%;
  animation: change 15s ease infinite;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form select,
.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form button {
  padding: 10px 20px;
  background-color: #ff007b;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form button[type='button'] {
  background-color: #007bff;
  margin-right: 10px;
}

.postuler-img {
  display: flex;
  background: linear-gradient(-45deg, #d20039, #b34fe0, #ff007b, #0000ff);
  background-size: 400% 400%;
  animation: change 15s ease infinite;
  place-content: center;
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@media (max-width: 726px) {
  .text-container {
    font-size: 6vw;
  }
}

@media (max-width: 410px) {
  .text-container {
    font-size: 10px;
    position: inherit;
  }
  .card {
    max-width: 100%;
  }
}
