.manage-blog .title {
  color: #ff007b;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.manage-blog {
  padding: 7%;
  width: 80%;
  background-color: #fef6e6;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: Arial, sans-serif;
}
.blog-card-cotainer {
  width: 40%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 2%;
  flex-direction: column;
  position: relative;
  /* height: 50vh; */
}

.blog-image {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 300px;
}
.blog {
  padding: 20px;
}
.user-details {
  display: flex;
  align-items: center;
 
}
.blog-date {
  color: #9d9797;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.content {
  border-bottom: 2px solid #d9d5d5;
  padding-bottom: 0.9%;
}
.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show before truncation */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.user-details img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.details{
  margin-left: 0.2vw;
  line-height: 1.4;
 
}
.details p {
  color: #4b4949;
}
.card-container{
  display: flex;
  gap:10px;
  flex-wrap: wrap;
  
}
.comments{
  display: flex;
  gap: 0.9rem;
  margin-top:0.8rem;
}
.likes{
  display:  flex;
  align-items: center;
  gap: 0.9rem;
}
.edit-blog{
  position:absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
  color: #ff007b;
  cursor: pointer;
}
.edit-blog {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  top: 31px;
  right: 29px;

}

.dropdown p {
  margin: 2px 0;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  color: black;
  font-size: 17px;
}

.dropdown p:hover {
  background-color: #f0f0f0;
}