* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

.cs-container {
    padding: 40px 0;
}

.cards-section-inner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    height: 23.4vh;
    object-fit: cover;
}

.title-cards-section {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}



.one-video {
    position: relative;
    width: 25%;
    border-radius: 20px;
    padding: 10px 0;

}

.one-video video {
    width: 400px !important;
    height: 23.4vh;
}

.video-info {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-left: 15px;
}

.more-details {
    display: flex;
    position: relative;
    top: -30%;
    left: 5%;
    color: white;
    pointer-events: none;
    opacity: 0;
    transition: .5s ease-in-out;
    gap: 5px;
}

.one-video:hover .more-details {
    opacity: 1;
}

.project-name {
    font-weight: bold;
    place-self: center;
}

.project-timeAgo {
    margin-left: 25%;
    place-self: center;
}

.project-img {
    width: 9%;
    border: 1px black solid;
    border-radius: 30px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}