
body,
div,
h1,
table,
th,
td,
select,
option {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.firstPage {
  font-family: Arial, sans-serif;

}

.first-title-css{
  font-size: 3vw !important;
  margin: 0 auto !important;
  text-align: center !important;
  padding: 3% !important;
  width: 100% !important;
}





.location {
  color: #ff007b;
}


h1 {
  padding: 3%;
  color: #ff007b;
}


.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
}


.statics-before-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-icon img {
  max-width: 50px;
  max-height: 50px;
}

.card-icon span {
  margin-top: 5px;
  font-weight: bold;
  color: #333;
}

#visits {
  color: #ff007b;
  font-size: 1.5vw;
  font-weight: bold;
}


.statusCell {
  padding: 5px;
  text-align: center;
}

.statusCell select {
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 5px;
}



