@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap%27");

nextjs-portal {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.image-aws-container {
  position: relative;
  width: 100%;
}

.image-aws-container img {
  width: 100%;
}

.title {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: whitesmoke;
  font-size: 5vw;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  ;
}

.diplome div {
  width: 80% !important;
}

.aws-rbk-title {
  margin-top: 3%;
  text-align: center;
  font-family: "Space Grotesk";
}

.aws-rbk-title img {
  width: 60px;
}

.aws-description-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-size: cover;
}

.aws-rbk-title p {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 14px;
  font-family: "Space Grotesk";
}

.aws-rbk-title p span {
  background-color: #f89e2d;
  color: white;
}

.steps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.step {
  width: 100%;
  max-width: 250px;
  margin-bottom: 20px;
  text-align: center;
  margin: 20px auto;
}

.step p {
  font-size: 1rem;
  color: #808080d1;
  font-weight: bold;
}


.video-container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}


.video {
  width: 50%;
  margin: 0 auto;
  border-radius: 18px;
}

.aws-btn {
  width: 15%;
  font-size: 2vw;
  background-color: #f89e2d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}

.about {
  background-color: #ffffffd9;
  border-radius: 10px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.6);
  width: 50%;
  margin: 20px auto;
  line-height: 2;
  padding: 60px;
  font-family: "Space Grotesk";
}

.content {
  margin-top: 20px;
}

.planning-description {
  padding: 45px;
}

.planning {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.planning div {
  width: 49%;
}

.planning-title {
  width: 41%;
  font-weight: 800;
  line-height: 1.5;
  font-size: 1.4rem;
}

.planning-title span {
  color: #f89e2d;
}

.planning-content {
  font-weight: 300;
  font-size: 1.2rem;
}

.planining-btn {
  background-color: #f89e2d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.6vw;
  margin-top: 10%;
}

.aws-btn {
  font-size: 2vw;
  background-color: #f89e2d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.about {
  background-color: #ffffffd9;
  border-radius: 10px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.6);
  width: 90%;
  margin: 20px auto;
  line-height: 2;
  padding: 40px;
}

.planining-btn {
  background-color: #f89e2d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.6vw;
  margin-top: 10%;
}

.programme {
  width: 100%;
  background-color: #f89e2d;
}

.programme h2 {
  color: white;
  padding: 18px;
  text-align: center;
}

.programme p {
  width: 70%;

  margin: 0 auto;
  font-size: 1.2rem;
  color: white;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 6%;
}

.card-item {
  margin: 20px;
  width: 27%;
  height: 350px;
  background-color: white;
  height: 20vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  justify-content: center;
  border-radius: 5px;
}

.card-item p {
  color: #f89e2d;
  font-family: "Space Grotesk";
  font-size: 1.5vw;
  font-weight: 500;
}

.criteres-title {
  text-align: center;
  line-height: 2;
  font-size: 1.2vw;
}

.criteres {
  margin-bottom: 6%;
}

.criteres-btn-container {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 6%;
}

.about ul li {
  font-size: 1.1vw;
}

.btn-container {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {

  .aws-rbk-title img {
    width: 100px;
  }

  .aws-rbk-title p {
    font-size: 16px;
  }

  .step {
    width: 48%;
    max-width: 300px;
    text-align: center;
  }



  .planining-btn {
    font-size: 16px;
  }
 
  .aws-btn {
    font-size: 16px;
  }

  .about {
    width: 70%;
    padding: 50px;
  }

  .criteres-title {
    font-size: 2vw;
  }

  .about ul li {
    font-size: 2vw;
  }



  .planning div {
    width: 49%;
  }
}

@media screen and (min-width: 1024px) {
  .aws-btn {
    /* width: 30%; */
    font-size: 18px;
  }

  .about {
    width: 70%;
    padding: 60px;
  }

  .planining-btn {
    font-size: 18px;
  }

  .aws-rbk-title p {
    font-size: 18px;
  }

  .step {
    width: 40%;
    max-width: 400px;
  }





  .criteres-title {
    font-size: 18px;
  }

  .about ul li {
    font-size: 18px;
  }

  .video {
    width: 60%;
   
  }

  .planning div {
    width: 48%;
  }
}

@media screen and (max-width: 1200px) {
  .card-item {
    width: 40%;
  }

  .card-item p {
    font-size: 2.5vw;
  }

  .criteres-title {
    font-size: 2vw;
  }

  .about ul li {
    font-size: 2vw;
  }
}

@media screen and (max-width: 768px) {
  .planining-btn {
    font-size: 5vw !important;
  }

  .video-container {
    width: 100%;
  }

  .video {
    width: 100%;
  }

  .content {
    font-size: 0.9em;
  }

  .cards-container {
    width: 100%;
    justify-content: center;
  }

  .card-item {
    width: 56%;
  }

  .card-item p {
    font-size: 4.2vw;
  }

  .criteres-title {
    font-size: 3vw;
  }

  .about ul li {
    font-size: 3vw;
  }
}

.planning {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
}

.planning div {
  width: 100%;
  margin: 20px 0;
}

.planning-title {
  width: 100%;
  font-weight: 800;
  line-height: 1.5;
}

.planining-btn {
  background-color: #f89e2d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.6vw;
  margin-top: 10%;
  display: block;
  margin: 0 auto;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
}




@media screen and (min-width: 1200px) {
  .planning div {
    width: 47%;
  }
}
@media (max-width:992px){
  .video{
    width: 80%;
  }
}