@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
nextjs-portal {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.card-container-1{
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(-45deg, #8865ff, #fb9ec4, #ffc7ba);
  background-size: 400% 400%;
  animation: change 15s ease infinite;
}

.background-image {
  position: relative;
  width: 100%;
  height: auto;  
}

.text-container-1 {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(0, -50%);
  color: whitesmoke;
  font-size: 3vw;
  font-weight: bold;
  font-family: 'Space Grotesk', sans-serif;
  text-transform: uppercase;
}

.card-image-postuler-grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
  background: linear-gradient(-45deg,  #8865ff, #fb9ec4, #ffc7ba);
  background-size: 400% 400%;
  animation: change 15s ease infinite;
}

.card-2 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: none;
 
  border-radius: 10px;
}

.card-2 img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-2 h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}

.card-2 p {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.6;
}

.card-2 form {
  margin-top: 20px;
}

.card-2 form label {
  display: block;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 5px;
}

.card-2 form input,
.card-2 form select{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}


.card-2 form .checkbox{
  width: 100%;
  padding: 10px;
  border: none; 

}


.card-2 form input[type='checkbox'] {
  margin-right: 5px;
  width: auto;
}

.card-2 form .country-code-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
}

.card-2 form .country-code {
  width: 100%;
  
}

.card-2 form input[type='submit'] {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 
}

.card-2 form input[type='submit']:hover {
  background-color: #ccc;
}

#phone-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

label[for="phone-select"] {
  width: 100%;
}



@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {

  .text-container-1 {
    position: absolute;
    top : 6%;
    font-size: 1rem;
    text-align: center;
  }

 

 
}

@media (max-width: 414px) {

  .text-container-1 {
    position: absolute;
    top : 6%;
    font-size: 1rem;
    text-align: center;
  }


}

