/* pc */
@media (min-width:992px) {
    .one-event{
        margin: 0 auto;
        width: 70%;
        height: 35vh;
        display: grid;
        /* gap: 1rem; */
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(6,1fr);
    }

    .event-date{
        display :flex;
        /* place-self: center; */
        grid-column-start: 1;
        grid-column-end:2;
    }
    .event-date img{
        place-self: center;
        margin-top: 3%;
        margin-right: 3%;
        
        height: 45%;
        width: 10%;
    }
    .event-date h3{
        color: rgba(0, 0, 0, 0.623);
        place-self: center;
        font-size: 0.8vw;
    }
    .event-title{
        place-self: center;
        height: 100%;
        width: 100%;
        font-size: 1vw;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end:4;
    }
    .event-paragraph{
        place-self: center;
        font-size: 1vw;
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end:4;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .read-more{
        height: 50%;
        width: 50%;
        font-size: 1vw;
        grid-row-start: 5;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end:2;
        border: none;
        color: white;
        background-color: #FF007B;
        border-radius: 10px;
    }
    .read-more:hover{
        cursor: pointer;
    }
    .event-img{
        place-self: center;
        border-radius: 20px;
        height: 90%;
        width: 90%;
        grid-row-start: 1;
        grid-row-end:6;
        grid-column-start: 4;
        grid-column-end:6;
    }
    .line-after{
        place-self: center;
        height: 1%;
        width: 100%;
        grid-row-start: 6;
        grid-row-end:7;
        grid-column-start: 1;
        grid-column-end:7;
        background-color: rgba(0, 0, 0, 0.415);
    }
    
}

/* phone */

@media (max-width: 992px) {
    .one-event{
        margin: 0 auto;
        width: 90%;
        /* height: 30vh; */
        display: grid;
        /* gap: 1rem; */
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(13,1fr);
    }
    .event-date{
        height: 100%;
        display :flex;
        /* place-self: center; */
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .event-date img{
        place-self: center;
        margin: 3%;
        height: 50%;
        width: 30%;
    }
    .event-date h3{
        color: rgba(0, 0, 0, 0.623);
        place-self: center;
        font-size: 2vw;
    }
    .event-title{
        place-self: center;
        height: 100%;
        width: 100%;
        font-size: 5vw;
        grid-row-start: 7;
        grid-row-end: 9;
        grid-column-start: 1;
        grid-column-end:5;
    }
    .event-paragraph{
        place-self: center;
        font-size: 4vw;
        grid-row-start: 9;
        grid-row-end: 11;
        grid-column-start: 1;
        grid-column-end:5;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .read-more{
        place-self: center;
        height: 50%;
        width: 90%;
        font-size: 2.5vw;
        grid-row-start: 11;
        grid-row-end: 13;
        grid-column-start: 1;
        grid-column-end:3;
        border: none;
        color: white;
        background-color: #FF007B;
        border-radius: 10px;
    }
    .event-img{
        place-self: center;
        border-radius: 10px;
        height:99%;
        width: 99%;
        grid-row-start: 1;
        grid-row-end:6;
        grid-column-start: 1;
        grid-column-end:6;
    }
    .line-after{
        place-self: center;
        height: 1%;
        width: 100%;
        grid-row-start: 13;
        grid-row-end:14;
        grid-column-start: 1;
        grid-column-end:7;
        background-color: rgba(0, 0, 0, 0.415);
    }
}