/* pc */
@media (min-width: 992px) {
    .event-detailed-container {
        margin: 0 auto;
        margin-top: 18vh;
        width: 50vw;
    }

    .event-detailed-container img {
        height: 50vh;
        width: 100%;
    }

    .event-detailed-desc {
        word-spacing: 0.1vw;
        line-height: 1.8;
    }

    .event-button {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
        height: 12vh;
        margin: 3% auto;
        background-color: #FF007B;
        width: 20vw;
        color: white;
        padding: 1%;
    }

    .event-button a {
        text-decoration: underline
    }

    .heure {
        padding: 1%;
        color: #ff007bc8
    }

    .event-detailed-title {
        text-align: center;
        padding: 3%;
        font-family: Space Grotesk;
    }

    .event-detaield-info {
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 1.5vw;
        color: rgba(0, 0, 0, 0.499);
    }
}

/* phone */

@media (max-width: 992px) {
    .event-detailed-container {
        margin: 0 auto;
        margin-top: 18vh;
        width: 80vw;
    }

    .event-detailed-container img {
        height: 50vh;
        width: 100%;
    }

    .event-detailed-desc {
        word-spacing: 0.1vw;
        line-height: 1.8;
    }

    .event-button {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
        margin: 3% auto;
        background-color: #FF007B;
        width: 35vw;
        color: white;
        padding: 1%;
    }

    .event-button a {
        text-decoration: underline
    }

    .heure {
        padding: 1%;
        color: #ff007bc8
    }

    .event-detailed-title {
        text-align: center;
        padding: 3%;
        font-family: Space Grotesk;
    }

    .event-detaield-info {
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 4vw;
        color: rgba(0, 0, 0, 0.499);
    }
}